<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>webdemo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>一起愛，愛不同-第22屆花旗聯合勸募活動</title>
<meta property="og:title" content="花旗網站demo 1025" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://45.118.133.210" />
<meta property="og:image" content="http://45.118.133.210/img/og.JPG" />
<meta property="og:description" content="花旗網站demo 1025" />

    

    
    
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/earlyaccess/cwtexhei.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,500,600,700'>
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/earlyaccess/notosanstc.css'>

        <link rel="stylesheet" href="css/style.css">

    
    
    
    
  </head>

  <body>

    
<body id="app" v-bind:class="[page_loading?'loading':'']" class="container-fluid web_body cur_block_A">
  <div v-bind:class="[page_loading?'loading':'']" class="loading_page">
    <div class="center_box">
      <div v-bind:class="[page_loading?'':'open']" class="loading_egg">
        <div class="eggtoppart"> <img src="http://45.118.133.210/img/graphic-51.svg" class="eggtop"/><img src="http://45.118.133.210/img/graphic-57.svg" class="eggtop2"/><img src="http://45.118.133.210/img/graphic-58.svg" class="egglight"/></div><img src="http://45.118.133.210/img/graphic-54.svg" class="eggchk"/>
        <div class="eggbottompart"> <img src="http://45.118.133.210/img/graphic-53.svg" class="eggbottom"/><img src="http://45.118.133.210/img/graphic-52.svg" class="eggmid"/></div>
      </div>
    </div>
  </div>
  <div v-bind:class="[cur_page=='index'?'hide':'']" class="page_index_hold"></div>
  <div v-bind:class="[cur_page=='index'?'':'page_index']" class="row row_index pic_mode">
    <div v-on:click="sw_page('index')" v-bind:class="[page_loading?'loading':'']" class="logofixed"><img src="http://45.118.133.210/img/logo-01.svg"/>
    </div>
    <nav class="normal_nav"><img src="https://openclipart.org/image/2400px/svg_to_png/221605/menu-icon.png" class="mobile_nav_toggle"/>
      <ul>
        <li v-bind:class="[cur_page=='index'?'selected':'']" v-on:click="sw_page('index')" class="btn nav_home">Home </li>
        <li>|</li>
        <li v-bind:class="[cur_page=='support'?'selected':'']" v-on:click="sw_page('page_support')" class="btn nav_sponsor">立即響應</li>
        <li>|</li>
        <li v-bind:class="[cur_page.indexOf('activity')==0?'selected':'']" class="btn nav_activity"> <span v-on:click="sw_page('activity')">第22屆花旗聯合勸募活動聯合勸募  </span>
          <ul id="sub_nav">
            <li v-bind:class="[cur_page.indexOf('activity_egg')==0?'selected':'']" v-on:click="sw_page('activity_egg')">扭蛋系列活動</li>
            <li v-bind:class="[cur_page.indexOf('activity_village')==0?'selected':'']" v-on:click="sw_page('activity_village')">安雞樂業村</li>
            <li v-bind:class="[cur_page.indexOf('activity_present')==0?'selected':'']" v-on:click="sw_page('activity_present')">愛心見證禮</li>
            <li v-bind:class="[cur_page.indexOf('activity_review')==0?'selected':'']" v-on:click="sw_page('activity_review')">歷年回顧</li>
          </ul>
        </li>
        <li>|</li>
        <li v-bind:class="[cur_page=='about'?'selected':'']" v-on:click="sw_page('about')" class="btn nav_about">聯合勸募</li>
        <li>|</li>
        <li v-bind:class="[cur_page=='news'?'selected':'']" v-on:click="sw_page('news')" class="btn nav_news">最新消息</li>
      </ul>
    </nav><img src="http://45.118.133.210/img/people.png" class="people"/>
    <div class="bluepiece"></div>
    <div class="yellowpiece"></div>
    <div class="max_width main_index_content">
      <div class="col_left">
        <div data-mul-speed="0.1" v-on:click="sw_page('about')" class="comic_block"><img src="http://45.118.133.210/img/graphic-03.svg" class="chicken"/></div>
      </div>
      <div class="col_mid">
        <div v-if="index_talk.data.length&gt;0" class="talkbox">
          <h3 class="title">
            {{{index_talk.data[index_talk.cur_id].substr(0,index_talk.cur_len)}}}
            {{(index_talk.cur_len % 3==0? '|':'')}}
          </h3><img src="http://45.118.133.210/img/index_talk-01.svg" class="talkbg"/>
        </div>
        <div data-mul-speed="0.5" v-on:click="sw_page('about')" class="comic_block"><img src="http://45.118.133.210/img/graphic-07.svg" class="chair"/><img src="http://45.118.133.210/img/graphic-04.svg" class="chicken2"/></div>
      </div>
      <div class="col_right">
        <nav id="index_nav">
          <ul>
            <li v-on:click="sw_page('index')" class="nav_home">Home</li>
            <li v-on:click="sw_page('page_support')" class="nav_sponsor">立即響應</li>
            <li v-on:click="sw_page('activity')" class="nav_activity">第22屆花旗聯合勸募活動</li>
            <li v-on:click="sw_page('about')" class="nav_activity">聯合勸募</li>
            <li v-on:click="sw_page('news')" class="nav_news">最新消息</li>
          </ul>
        </nav>
        <div data-mul-speed="0.6" v-on:click="sw_page('activity_village')" title="我想看安雞樂業村的故事!" class="comic_block big"><img src="http://45.118.133.210/img/block1.svg" class="village"/>
          <h2>你的愛心，讓我們生活更美好...</h2><img src="http://45.118.133.210/img/chicken-29.svg" class="mch mch1"/><img src="http://45.118.133.210/img/chicken-31.svg" class="mch mch3"/><img src="http://45.118.133.210/img/chicken-33.svg" class="mch mch5"/><img src="http://45.118.133.210/img/chicken-34.svg" class="mch mch6"/>
        </div>
        <div class="bottompart">
          <div class="top">
            <div data-mul-speed="0.2" class="comic_block small"><img src="http://45.118.133.210/img/graphic-05.svg" class="grass"/><img src="http://45.118.133.210/img/graphic-06.svg" class="table"/></div>
            <div class="heartbox">
              <div class="barbox">
                <div class="bar"></div>
              </div>
              <div class="heart bar_heart"></div>
            </div>
            <div class="logoarea">    <img src="http://45.118.133.210/img/logo-01.svg" class="logo"/>
              <h3>第22屆花旗聯合勸募活動</h3>
            </div>
          </div>
          <div class="bottom"></div>
        </div>
      </div>
    </div>
  </div>
  <div v-bind:class="[cur_page=='index'?'':'hide']" class="page_index_other">
    <div class="row row_about row_red"><img src="http://45.118.133.210/img/graphic-08.svg" class="flyingchicken"/>
      <div class="max_width">
        <div class="col_left"><img src="http://45.118.133.210/img/graphic-14.svg" class="circle"/><img src="http://45.118.133.210/img/graphic-09.svg" class="machine"/><img src="http://45.118.133.210/img/graphic-10.svg" class="egg1"/><img src="http://45.118.133.210/img/graphic-11.svg" class="egg2"/><img src="http://45.118.133.210/img/graphic-12.svg" class="egg3"/><img src="http://45.118.133.210/img/graphic-13.svg" class="egg4"/><img src="http://45.118.133.210/img/graphic-13.svg" class="eggo1"/><img src="http://45.118.133.210/img/graphic-11.svg" class="eggo2"/><img src="http://45.118.133.210/img/graphic-12.svg" class="eggo3"/></div>
        <div class="col_right col_content">
          <h2 class="page_title">「扭」轉生命奇蹟</h2>
          <hr/>
          <div class="page_content">一起讓愛轉出生命不同的奇蹟！<br>聯合勸募與花旗（台灣）銀行長期致力於匯集愛的星火，讓每個小小的付出，積累成足以扭轉弱勢朋友未來的巨大能量。<br><br>21年來，我們協助超過7,000個遍及全台各地知名度低、募款能力不足、服務資源缺乏的中小型社福團體。每一筆愛心善款用到哪裡？幫助了哪些弱勢朋友扭轉生命奇蹟？改寫了哪些人的生命故事？<br>今年，我們用可愛的扭蛋，告訴您關於一個又一個觸動人心的生命奇蹟。
            <div class="btns">
              <div v-on:click="sw_page('activity')" class="btn">扭蛋活動</div>
              <div v-on:click="sw_page('about')" class="btn">聯合勸募</div>
              <div v-on:click="sw_page('url:https://www.unitedway.org.tw/civicrm/contribute/transact?reset=1&amp;id=3')" class="btn">立即響應</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row_yellow row_news">
      <div class="max_width">
        <div class="col_full col_content">
          <h2 class="page_title">扭蛋巡迴地圖＆最新消息！</h2>
          <hr/>
          <div class="page_content"> 
            <div v-for="(id,news) in index_news" v-on:click="jump_newspage(id)" title="點擊查看詳細消息!" class="newsitem"> 
              <h3 class="newstime">{{news.time}}</h3>
              <h2 class="newstitle">{{news.title}}</h2>
              <h5 class="news_engtime">{{news.eng_time}}</h5>
            </div><img src="http://45.118.133.210/img/graphic-21.svg" class="clock"/>
            <div class="btns">
              <div v-on:click="sw_page('news')" class="btn">更多消息</div>
              <div v-on:click="sw_page('support')" class="btn">立即響應</div>
            </div>
          </div>
        </div>
        <div class="col_right"><img src="http://45.118.133.210/img/graphic-17.svg" class="hex"/><img src="http://45.118.133.210/img/graphic-16.svg" class="heart heart1"/><img src="http://45.118.133.210/img/graphic-15.svg" class="chicken_news"/><img src="http://45.118.133.210/img/graphic-18.svg" class="heart heart2"/><img src="http://45.118.133.210/img/graphic-19.svg" class="heart heart3"/><img src="http://45.118.133.210/img/graphic-16.svg" class="heart heart4"/><img src="http://45.118.133.210/img/graphic-19.svg" class="heart heart5"/></div>
      </div>
    </div>
    <div class="row row_blue row_support">
      <div class="max_width">
        <div class="col_left"><img src="http://45.118.133.210/img/graphic-22.svg" class="tri"/><img src="http://45.118.133.210/img/graphic-23.svg" class="talk"/><img src="http://45.118.133.210/img/graphic-24.svg" class="chicken_sup"/></div>
        <div class="col_right col_content">
          <h2 class="page_title">立即響應！</h2>
          <hr/>
          <div class="page_content"> <img src="http://45.118.133.210/img/graphic-25.svg" class="bird_sup"/>您愛的付出，幫助弱勢朋友跨越生命的困境<br>讓愛不中斷，陪伴他們勇敢改寫生命的故事<br>扭轉生命的奇蹟，因為有您！
            <div class="btns">
              <div v-on:click="sw_page('activity')" class="btn">了解更多</div>
              <div v-on:click="sw_page('support')" class="btn">立即響應</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row_yellow row_movie">
      <iframe width="100%" height="580px" src="https://www.youtube.com/embed/WWh_G7cSFxA" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="row row_yellow row_summary">
      <div class="max_width">
        <div class="col_left col_content">
          <h2 class="page_title">花旗聯合勸募</h2>
          <hr/>
          <div class="page_content">我們知道每一筆善款，都是一份善的執念。<br>因此在這花旗(台灣)銀行)與聯合勸募攜手走過的二十二餘年，<br>我們將募集來超過16億的善款，透過嚴密的專案審查制度，<br>幫助台灣各地因為知名度不足而無法獨立募款的社福機構<br>能夠專心地為受助者提供服務，扭轉一個又一個生命的奇蹟，<br>一起擁抱每一份與眾不同的人與愛。<img src="http://45.118.133.210/img/graphic-27.svg" class="cook"/>
            <div class="btns">
              <div v-on:click="sw_page('news')" class="btn">更多消息</div>
              <div v-on:click="sw_page('support')" class="btn">立即響應</div>
            </div>
          </div>
        </div>
        <div class="col_right"><img src="http://45.118.133.210/img/graphic-28.svg" class="allegg"/></div>
      </div>
    </div>
  </div>
  <div v-bind:class="[cur_page=='activity'?'':'hide']" class="page_activity">
    <div class="row row_white row_ac_main">
      <div class="max_width">
        <div class="col_left"><img src="http://45.118.133.210/img/logo-01.svg" class="icon"/></div>
        <div class="col_right col_content">
          <h2 class="page_title">每一筆善款，都是一份愛的堅持。</h2>
          <hr/>
          <div class="page_content"> <img src="http://45.118.133.210/img/graphic-25.svg" class="bird_sup"/>
            <p>聯合勸募與花旗(台灣)銀行攜手走過的二十二年，我們將所募集來自四面八方超過16億的善款，透過嚴謹的專業審查機制，公開合理分配給台灣各地因知名度不足，募款能量薄弱，助人服務資源缺乏的社福團體，提升社福夥伴的專業能量，讓弱勢朋友能夠獲得更多元的幫助和更優質的服務，扭轉一個又一個生命的奇蹟，一起擁抱每一份與眾不同的愛。</p>
            <div class="btns">
              <div v-on:click="sw_page('about')" class="btn">了解更多</div>
              <div v-on:click="sw_page('support')" class="btn">立即響應</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row_red row_ac_main_egg">
      <div class="max_width">
        <div class="col_left"><img src="http://45.118.133.210/img/graphic-65.svg" class="icon"/></div>
        <div class="col_right col_content">
          <h2 class="page_title">扭蛋系列活動＆捐款感動</h2>
          <hr/>
          <div class="page_content"> 
            <p>聯合勸募匯集大家的愛心，「有愛無類」幫助不同需求的弱勢朋友。<br>我們希望能夠讓您透過更輕鬆有趣的方式，走入受助者的生活樣貌，一同感受傳遞溫暖給他人的喜悅，明白您的善款幫助到哪些人。<br>因此，今年我們與花旗(台灣)銀行一起打造溫馨有愛的安雞樂業村，選擇受助對象辨識度較為鮮明的五種弱勢族群：長者、兒童、身心障礙者、原住民和新住民婦女做為主角，設計成為多功能可愛的扭蛋公仔，為您訴說許多「一起愛 愛不同」的故事。</p>
            <div class="btns">
              <div v-on:click="sw_page('activity_egg')" class="btn">了解更多</div>
              <div v-on:click="sw_page('support')" class="btn">立即響應</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row_yellow row_ac_main_village">
      <div class="max_width">
        <div class="col_left"><img src="http://45.118.133.210/img/graphic-50.svg" class="icon"/></div>
        <div class="col_right col_content">
          <h2 class="page_title">花旗聯合勸募＆安雞樂業村</h2>
          <hr/>
          <div class="page_content"> 
            <p>我們將安雞樂業村型塑成宛若是台灣的小小縮影，以受助者的故事為背景，並融合生活及趣味的場景元素；<br>藉此呈現在眾人的愛心灌注下，展現藉由社會大眾的關懷與付出，圓滿了村民們生命的缺憾，讓善的種籽能發芽，正面的能量可以不斷發散，<br>一個個動人的故事能在台灣各個角落發生，在互助、互愛中改寫生命的暖心故事，而您就是最給力的愛的後盾。</p>
            <div class="btns">
              <div v-on:click="sw_page('activity_village')" class="btn">了解更多</div>
              <div v-on:click="sw_page('support')" class="btn">立即響應</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row_white row_ac_main_present">
      <div class="max_width">
        <div class="col_left"><img src="http://45.118.133.210/img/item_pic/bagcom.png"/></div>
        <div class="col_right col_content">
          <h2 class="page_title">立即響應＆愛心見證禮</h2>
          <hr/>
          <div class="page_content"> 
            <p>活動期間2016/11/1-2017/2/28<br> <br>月捐500元，持續12個月以上（含）或單筆捐款滿 6,000元，即可珍藏愛心見證禮「安雞樂業」 乙套。<br><br>單筆捐款滿3,000元，安雞樂業絨毛布偶或小提袋，挑選一項，開心帶回家！  </p>
            <div class="btns">
              <div v-on:click="sw_page('activity_present')" class="btn">了解更多</div>
              <div v-on:click="sw_page('support')" class="btn">立即響應</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-bind:class="[cur_page=='activity_village'?'':'hide']" class="page_activity">
    <div class="row row_yellow row_aboutvillage"><img src="http://45.118.133.210/img/graphic-35.svg" class="village2"/>
      <div class="max_width">
        <div class="col_left col_content">
          <h2 class="page_title"> <span><img src="http://45.118.133.210/img/graphic-42.svg" width="60"/></span>花旗聯合勸募＆安雞樂業村</h2>
          <hr/>
          <div class="page_content">花旗聯合勸募＆安雞樂業村<br>您的愛心被用到哪裡去了？<br>知道您的和大家的愛心捐款如何被使用？幫助了哪些人呢？<br>讓安雞樂業村的小雞們，告訴您屬於他們愛的旅程，<br>關於寶貴的善款，如何扭轉他們生命奇蹟的溫馨故事。
            <div class="btns">
              <div v-on:click="sw_page('news')" class="btn">更多消息</div>
              <div v-on:click="sw_page('support')" class="btn">立即響應</div>
            </div>
          </div><br/><br/><br/><br/>
        </div>
        <div class="col_right"></div>
      </div>
    </div>
    <div v-bind:class="[showing_chicken?'show_chk':'']" class="row row_yellow row_aboutvillage2">
      <div v-if="showing_chkdata.length&gt;0" class="max_width">
        <div class="col_left">
          <h2 class="page_title"> <span><img src="http://45.118.133.210/img/graphic-44.svg" height="80px"/></span><span v-show="!showing_chicken">安雞樂業村</span><span v-show="showing_chicken">{{showing_chkdata[showing_chicken_id].title}}</span><span v-bind:class="[showing_chicken?'show':'']" class="slogan">{{{showing_chkdata[showing_chicken_id].slogan}}}</span></h2>
          <hr/>
          <div v-show="showing_chicken" class="page_content"> <span>{{{showing_chkdata[showing_chicken_id].content}}}</span></div>
          <div v-show="!showing_chicken" class="page_content">安雞樂業村是個溫暖的小村莊，和外頭的世界相同，<br>村子裡面有各式各樣、形形色色的小雞。<br>有些小雞富有，有些小雞貧窮；有些小雞天生有美麗的缺陷，<br>有些小雞後天變得不一樣。<br>他們彼此之間有些不同，但相同的是擁有一顆溫暖的心<br>喜歡分享愛、分享快樂，喜歡彼此擁抱，喜歡一起歡笑。<br>最喜歡互助合作的他們，獲選為第22屆花旗聯合勸募活動模範村莊，<br>號召大家一起響應「一起愛 愛不同」
            <div class="btns">
              <div v-on:click="sw_page('news')" class="btn">更多消息</div>
              <div v-on:click="sw_page('support')" class="btn">立即響應</div>
            </div>
          </div>
        </div>
        <div id="chicken_activity" class="col_right">
        </div>
      </div>
    </div>
    <div class="row row_yellow row_aboutvillage3">
      <div class="max_width">
        <div class="col_left">
          <h2 class="page_title">安雞樂業村關係圖</h2>
          <hr/>
          <div class="page_content">因為有你我的參與，安雞樂業村的村民們彼此互助，<br>溫暖了每一個需要幫助的人。<br>而在台灣，我們和安雞樂業村一樣，<br>也有許多與眾不同的弱勢朋友需要幫助，<br>我們誠摯邀請您一同響應「一起愛 愛不同」，<br> 一起扭轉生命的奇蹟。
            <div class="btns">
              <div v-on:click="sw_page('news')" class="btn">更多消息</div>
              <div v-on:click="sw_page('support')" class="btn">立即響應</div>
            </div>
          </div>
        </div>
        <div class="col_right"><img src="http://45.118.133.210/img/graphic-43.svg" class="relation"/></div>
      </div>
    </div>
  </div>
  <div v-bind:class="[cur_page=='activity_present'?'':'hide']" class="page_activity_present">
    <div class="row row_white row_acpr_about">
      <div class="max_width">
        <div class="col_left"><img src="http://45.118.133.210/img/item_pic/bagcom.png" class="bag"/></div>
        <div class="col_right col_content">
          <h2 class="page_title">愛心見證禮</h2>
          <hr/>
          <div class="page_content"> 
            <p>每一年，花旗聯合勸募活動都會依隔年的生肖，設計製作愛心見證禮送給捐款人，<br>以表達對捐款人無私付出的感謝。<br>今年特別與插畫家安雞樂業合作，共同設計「安雞樂業」開心組，為了滿足捐款人的不同喜好及需求，我們貼心設計可愛的絨毛玩偶，還有實用的帆布小提袋，讓給捐款人有多樣化的選擇。<br><br>活動期間2016/11/1-2017/2/28<br><br>月捐500元，持續12個月以上（含）或單筆捐款滿 6,000元，即可珍藏愛心見證禮「安雞樂業」乙套。<br>∙單筆捐款滿3,000元，安雞樂業絨毛布偶或小提袋，挑選一項，開心帶回家！</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row_red row_acpr_chks">
      <div class="whiteline"></div>
      <div class="max_width">
        <div class="flex_col title_area">
          <h2 class="page_title">愛心見證禮：<br>安雞樂業組介紹</h2>
          <div class="btns">
            <div v-on:click="sw_page('activity_present')" class="btn">了解更多</div>
            <div v-on:click="sw_page('support')" class="btn">立即響應 </div>
          </div>
        </div>
        <hr/>
        <div class="col_full flex_row">
          <div class="col_left">
            <div class="page_content"> <img src="http://45.118.133.210/img/item_pic/lovechk.png" class="prod_img"/>
              <h3>安雞樂業絨毛布偶</h3>
              <p>毛茸茸、肥嘟嘟，陪伴左右，溫暖您心！<br>安心生活，雞年豐收，樂善好施，業發利市，處處有愛，天天開心！<br>尺寸：</p>
            </div>
          </div>
          <div class="col_right">
            <div class="page_content"> <img src="http://45.118.133.210/img/item_pic/bagnew.png" class="prod_img"/>
              <h3>安雞樂業小提袋</h3>
              <p>限量版安雞樂業可扣式帆布包，讓您快樂帶出門，便利又環保！<br>尺寸：寬25公分、高20公分、側寬10公分</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row_blue scroll_area row_ac_artist">
      <div class="max_width">
        <div class="col_left">
          <h2 class="page_title">插畫家：安雞樂業介紹</h2>
          <hr/>
          <div class="page_content">雞毛與安特，<br>一個懶懶der又很愛吃，<br>一個強迫症上身脾氣又差差der。<br>我們都愛旅遊到處拍照發掘新奇事物，<br>湊在一起就是安雞樂業囉!<br><br>雞毛與安特希望能用自己的喜好和專長，為公益加溫，為社會送愛，讓每個需要幫助的弱勢朋友都能開開心心地安雞樂業！
            <div class="btns">
              <div v-on:click="sw_page('url|https://www.facebook.com/ggmant/')" class="btn">粉絲專頁</div>
              <div v-on:click="sw_page('url|https://store.line.me/stickershop/author/81498')" class="btn">Line貼圖     </div>
            </div>
          </div>
        </div>
        <div class="col_right"><img src="http://45.118.133.210/img/graphic-40.svg" class="rab_chicken"/><img src="http://45.118.133.210/img/graphic-50.svg" class="rab_book"/></div>
      </div>
    </div>
  </div>
  <div v-bind:class="[cur_page=='activity_review'?'':'hide']" class="page_activity_review">
    <div class="row row_yellow row_abre_about">
      <div class="max_width">
        <div class="col_left"><img src="http://45.118.133.210/img/graphic-66.svg" class="icon"/></div>
        <div class="col_right col_content">
          <h2 class="page_title">花旗聯合勸募活動</h2>
          <hr/>
          <div class="page_content"> 
            <p>回首過去21年來，聯合勸募與花旗(台灣)銀行攜手合作號召全民響應公益，所募得善款已累積超過新台幣16億，每年本活動的募款總金額約佔聯合勸募年度募款總金額的三分之一。這一路走來，一步一腳印，經年累月已協助遍及全台超過上千個不同類型的社福團體，合力推展逾超過9000個助人計畫。</p>
            <p>每年活動期間，花旗挹注各種企業資源、號召員工響應捐款，同時釋出銀行宣傳管道，卯足全力促動花旗聯合勸募活動的募款成效，22年來不曾間斷。這份執著和努力就是希望能為台灣的中小型社福團體募到更豐沛的經費，進而服務更多的弱勢朋友，讓台灣處處充滿愛、溫暖和希望。</p>
            <div class="btns">
              <div v-on:click="sw_page('activity')" class="btn">了解更多</div>
              <div v-on:click="sw_page('support')" class="btn">立即響應</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row_red">
      <div class="max_width">
        <div class="col_left"><img src="http://45.118.133.210/img/graphic-67.svg" class="icon"/></div>
        <div class="col_right col_content row_abre_before">
          <h2 class="page_title">二十二年的愛心足跡</h2>
          <hr/>
          <div class="page_content"> 
            <p>2015 面對愛的樣貌</p>
            <div v-on:click="sw_page('url|http://event.unitedway.org.tw/citi2015/index.html')" class="btn imgbtn"><img src="http://45.118.133.210/img/logo_2015.svg"/></div>
            <p>2014 一起愛 愛不同     </p>
            <div v-on:click="sw_page('url|http://event.unitedway.org.tw/citi2014/index.php')" class="btn imgbtn"><img src="http://45.118.133.210/img/logo_2014.svg"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-bind:class="[(cur_page=='activity_egg')?'':'hide']" class="page_egg">
    <div class="row row_red row_acegg_intro">
      <div class="max_width">
        <div class="col_left"><img src="http://45.118.133.210/img/graphic-14.svg" class="acegg_circle"/><img src="http://45.118.133.210/img/graphic-65.svg" class="acegg_machine"/></div>
        <div class="col_right col_content">
          <h2 class="page_title"> <span><img src="http://45.118.133.210/img/graphic-42.svg" width="60"/></span>扭蛋系列活動＆捐款感動</h2>
          <hr/>
          <div class="page_content">一顆扭蛋，藏著一個溫暖的故事，等著您用愛轉出愛的奇蹟！<br><br>活動期間，跟著安雞樂業村展開扭蛋機巡迴之旅，歡迎大家一起加入愛的行列。<br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-bind:class="[cur_page=='activity_egg'?'':'hide']" class="page_egg">
    <div class="row row_yellow row_acegg_howto">
      <div class="max_width">
        <div class="col_left col_content">
          <h2 class="page_title"> <span><img src="http://45.118.133.210/img/graphic-50.svg" height="60"/></span><span>如何找到扭蛋機？</span></h2>
          <hr/>
          <div class="page_content"> 
            <h3>/ 方法1 實體扭蛋機</h3>
            <p>捐款200元（投入四枚50元硬幣），即能玩轉乙次扭蛋機。<br>請列出實體扭蛋機擺放地點及日期</p>
            <div class="btns">
              <div v-on:click="sw_page('news')" class="btn">更多消息</div>
              <div v-on:click="sw_page('support')" class="btn">立即響應</div>
            </div>
          </div>
        </div>
        <div class="col_right"><img src="http://45.118.133.210/img/graphic-17.svg" class="acegg_hex"/><img src="http://45.118.133.210/img/graphic-64.svg" class="acegg_eggchk"/></div>
      </div>
    </div>
    <div class="row row_white row_acegg_eggs">
      <div class="max_width flex_col">
        <div class="col_full">
          <div class="flex_row">
            <div>
              <h2 class="page_title"> <span><img src="http://45.118.133.210/img/graphic-50.svg" height="60"/></span><span>扭蛋小公仔，超級能力組</span></h2>
              <hr/>
              <div class="page_content"> 
                <p>我們將花旗聯合勸募主要受助的類型與辨識度較為鮮明的五種弱勢族群：<br><br>長者、兒童、身心障礙者、原住民、新住民婦女，設計成五款具實用性的可愛扭蛋公仔，每款公仔都有不同的功能。<br>趕快行動，體驗無從預知會轉到什麼款扭蛋的新奇感。<br>收集扭蛋公仔傳送愛，還能療癒自己忙碌疲憊的心喔！<br><br>線上單筆捐款200元以上（含），即可參加線上扭蛋機遊戲乙次不參加扭蛋機遊戲，捐款1000元以上，即能珍藏一套5款「扭蛋超能力組」。</p>
                <div class="small">＊僅限透過線上信用卡捐款響應本活動者，能參加線上扭蛋機遊戲；以其他捐款方式響應本活動者，恕不在此限。<br>為將經費用於助人服務上，響應捐款滿額獲愛心見證禮者，不再另行贈送扭蛋。</div>
              </div>
              <div class="btns">
                <div v-on:click="sw_page('news')" class="btn">更多消息</div>
                <div v-on:click="sw_page('support')" class="btn">立即響應</div>
              </div>
            </div>
            <div><img src="http://45.118.133.210/img/kj2.png" alt="" class="kj2"/></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row_white row_acegg_eggs">
      <div class="max_width">
        <div class="col_left col_content">
          <h2 class="page_title"> <span>{{chicken_egg_data.datas[chicken_egg_data.now_id].title}}</span></h2>
          <hr/>
          <div class="page_content"> 
            <h3>{{{chicken_egg_data.datas[chicken_egg_data.now_id].content}}}</h3>
          </div>
        </div>
        <div class="col_right">
          <div v-if="chicken_egg_data.datas.length&gt;0" class="bigpic"><img v-bind:src="chicken_egg_data.datas[chicken_egg_data.now_id].img"/></div>
          <div class="navchk">
            <div v-for="(id,cegg) in chicken_egg_data.datas" v-on:click="sw_egg_pre(id)" title="{{cegg.title}}" class="equalbox"><img v-bind:src="cegg.img" class="fimg"/>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-bind:class="[cur_page=='about'?'':'hide']" class="page_about">
    <div class="row row_red scroll_area row_ab"><img src="http://45.118.133.210/img/graphic-36.svg" class="village2"/>
      <div class="max_width">
        <div class="col_left">
          <h2 class="page_title"> <span><img src="http://45.118.133.210/img/graphic-50.svg" height="60"/></span><span>關於聯合勸募 UNITED WAY</span></h2>
          <hr/>
          <div class="page_content">深耕台灣24年的聯合勸募，是全台灣唯一專責、專業勸募的社福機構。<br>以有愛無類為核心、理性捐款為號召，向社會大眾募集愛心資源，有逾百位專家擔任志工，共同組成專業團隊，透過嚴謹審查稽核機制公開合理分配資源；<br>同時輔導、協助全台各地社福機構提供弱勢朋友完善的服務；為每一塊善款嚴格把關。
            <div class="btns">
              <div v-on:click="sw_page('news')" class="btn">更多消息</div>
              <div v-on:click="sw_page('support')" class="btn">立即響應</div>
            </div>
          </div>
        </div>
        <div class="col_right"></div>
      </div>
    </div>
    <div class="row row_yellow scroll_area row_ab_type">
      <div class="max_width">
        <div class="col_full">
          <h2 class="page_title"> <span><img src="http://45.118.133.210/img/graphic-50.svg" height="60"/></span><span>目標展望</span></h2>
          <hr/>
          <div class="page_content auto_height">
            <ul> 
              <li>1.勸募社會資源，合理分配予全台中、小型社福團體，促使社會資源充分有效地運用。</li>
              <li>2.結合企業資源，協助企業落實社會責任，提升公益資源的質與量。</li>
              <li>3.導入輔導及稽核機制，協助社福伙伴確保及提升專業服務品質。</li>
              <li>4.專業人士嚴謹監督每一筆勸募資源的流向與運用，為善款妥善運用嚴格把關，徵信公開透明。</li>
              <li>5.觀察及依據社會結構改變、社會問題及弱勢朋友需求，邀集專業人士研議解決問題的相關服務策略與方案，<br>並與社福伙伴協力推展新的服務 方案，以因應或緩解社會問題。</li>
            </ul>
            <div class="btns">
              <div v-on:click="sw_page('news')" class="btn">更多消息</div>
              <div v-on:click="sw_page('support')" class="btn">立即響應</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row_white scroll_area row_ab_feature">
      <div class="max_width">
        <div class="col_full">
          <h2 class="page_title"> <span><img src="http://45.118.133.210/img/graphic-50.svg" height="60"/></span><span>幫助對象</span></h2>
          <hr/>
          <div class="page_content">
            <div class="equalbox"> 
              <h3 class="ftitle">起源</h3><img src="http://45.118.133.210/img/graphic-59.svg" class="fimg"/>
              <p class="fcontent">「聯合勸募」方式，於1873年，在英國利物浦市，由數十家社福機構合辦慈善募款活動而興起。</p>
            </div>
            <div class="equalbox">
              <h3 class="ftitle">成立</h3><img src="http://45.118.133.210/img/graphic-60.svg" class="fimg"/>
              <p class="fcontent">台灣在1992年，<br>由關心社會問題、想結合眾人力量一起助人者，成立聯合勸募協會。</p>
            </div>
            <div class="equalbox">
              <h3 class="ftitle">角色</h3><img src="http://45.118.133.210/img/graphic-61.svg" class="fimg"/>
              <p class="fcontent">全台灣唯一專責、專業勸募的社福機構。<br>以有愛無類為核心、理性捐款為號召，向社會大眾募集愛心資源，再統一且合理地運用，為捐款者監督善款運用情形。<br>並透過嚴謹的審查監督和輔導機制，協助全台各地的社福機構提供弱勢朋友更完善的服務。</p>
            </div>
            <div class="equalbox">
              <h3 class="ftitle">支持機構</h3><img src="http://45.118.133.210/img/graphic-62.svg" class="fimg"/>
              <p class="fcontent">勸募善款主要用於支持全台各地募款不易的中、小型社福機構。<br>希望讓社福機構可以將心力及資源投注於幫助弱勢朋友的助人服務，以及培力社福機構的專業能力。</p>
            </div>
            <div class="equalbox">
              <h3 class="ftitle">幫助對象</h3><img src="http://45.118.133.210/img/graphic-63.svg" class="fimg"/>
              <p class="fcontent">兒少、婦女、老人、身心障礙者、疾病患者、弱勢家庭、社區居民、原住民、新住民、受刑人、藥酒毒癮者、街友、勞工…等，<br>需要被關心及幫助的弱勢族群。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row_yellow scroll_area row_ab_table">
      <div class="max_width">
        <div class="col_full">
          <h2 class="page_title"> <span><img src="http://45.118.133.210/img/graphic-50.svg" height="60"/></span><span>聯合勸募2016年支持社福團體執行助人方案</span></h2>
          <hr/>
          <table class="page_content">
            <thead>
              <th>服務對象</th>
              <th>專案件數</th>
              <th>運用金額</th>
              <th>受益人次</th>
            </thead>
            <tr v-for="data in about_servicedata">
              <td>{{data.name}}</td>
              <td>{{data.count}}</td>
              <td>{{data.money}}</td>
              <td>{{data.people}}</td>
            </tr>
          </table>
          <h6>*其他：受刑人、組織專業、勞工、街友、藥酒毒癮者、原住民
          </h6>
        </div>
      </div>
    </div>
    <div class="row row_red scroll_area">
      <div class="max_width">
        <div class="col_full">
          <h2 class="page_title"> <span><img src="http://45.118.133.210/img/graphic-50.svg" height="60"/></span><span>專業監督，合理分配，嚴謹把關，讓愛到位</span></h2>
          <hr/>
          <div class="page_content">
            <p>聯合勸募透過合理分配、嚴謹審查機制、專業監督及輔導、公開透明徵信運用每一筆捐款<br><br>並且交由近兩百位含括社福學界、財務會計專家、NPO負責人、實務工作者，共同組成的專業團隊，藉由嚴謹的審核、稽核程序，協助聯合勸募共同為每年提供補助超過300個社福團體的助人服務品質做把關，確保弱勢朋友得到專業且妥切的幫助。<br><br>此外，每年度委託第三公正單位的會計事務所，進行財務稽核。每筆善款的使用、流向，<br>都將透明公開公布於官網及對外文宣刊物，並確實將捐款收據寄送到愛心捐款人手上。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row_white scroll_area row_ab_donate">
      <div class="max_width">
        <div class="col_full">
          <h2 class="page_title"> <span><img src="http://45.118.133.210/img/graphic-50.svg" height="60"/></span><span>捐款方式</span></h2>
          <hr/>
          <div class="page_content flex_row">
            <p>QRcode官網捐款方式一覽：<span></span><br>https://www.unitedway.org.tw/donate/method<br>捐款專線 :（02）2378-2256分機9<br>地址：台北市大安區復興南路二段363號4樓<br>網址：http://www.unitedway.org.tw<br>立案字號：台內社字第8189471號</p>
            <div>     <img src="http://45.118.133.210/img/qrcode.PNG" class="qrcode"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-bind:class="[cur_page=='support'?'':'hide']" class="page_support">
    <div class="row row_red scroll_area row_sp_ab">
      <div class="redline"></div><img src="http://45.118.133.210/img/kj3.png" class="kj3"/>
      <div class="max_width">
        <div class="col_left">
          <h2 class="page_title">立即響應</h2>
          <hr/>
          <div class="page_content">您愛的付出，幫助弱勢朋友跨越生命的困境<br>讓愛不中斷，陪伴他們勇敢改寫生命的故事<br>扭轉生命的奇蹟，因為有您！
            <div class="btns">
              <div v-on:click="sw_page('news')" class="btn">更多消息</div>
              <div v-on:click="sw_page('support')" class="btn">前往捐款</div>
            </div><br/><br/><br/>
          </div>
        </div>
        <div class="col_right"></div>
      </div>
    </div>
    <div class="row row_yellow scroll_area row_sp_present">
      <div class="max_width">
        <div class="col_left">
        </div>
        <div class="col_right">
          <h2 class="page_title">愛心見證禮：安雞樂業組介紹</h2>
          <hr/>
          <div class="page_content">祝您事事順心，快快樂樂！安居樂業，天天美滿！<br>雞毛玩偶胖胖雞布偶<br>毛茸茸、肥嘟嘟，陪你過好年！<br><br>實用帆布包愛心胖胖小提包<br>限量版安雞樂業可扣式帆布包，讓你出門時刻平安又環保！
            <div class="btns">
              <div v-on:click="sw_page('activity')" class="btn">安雞樂業村</div>
              <div v-on:click="sw_page('support')" class="btn">立即響應  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row_red row_sp_price">
      <div class="max_width">
        <div class="col_full">
          <div class="page_content">
            <h2 class="page_title"> <span>扭蛋小公仔，超級能力組</span></h2>
            <hr/>
            <div class="flex_row">
              <div class="col_left"><img src="http://45.118.133.210/img/graphic-67.svg"/><span> 
                  <h3>/ 月捐500元</h3>
                  <h4>讓愛擁有無限可能</h4></span>
                <p>活動期間2016/11/1-2017/2/28<br>月捐500元，持續12個月以上（含）或單筆捐款滿6000元（含），<br>即可珍藏愛心見證禮「安雞樂業」乙套<br>單筆捐款滿3000元，安雞樂業絨毛布偶或小提袋，挑選一項，開心帶回家！
                  <div class="small">每筆捐款以兌換乙份禮物為限，捐款金額不累積贈送禮物，數量有限，送完為止。</div>
                </p>
              </div>
              <div class="col_right"><img src="http://45.118.133.210/img/graphic-66.svg"/><span> 
                  <h3>/ 捐款200元</h3>
                  <h4>由您開始行動，轉出生命不同的奇蹟</h4></span>
                <p>五款不同可愛造型及具實用功能的超萌扭蛋，值得您用愛珍藏。</p>
                <p>【實體扭蛋機】<br>捐款200元（投入四枚50元硬幣），即能玩轉乙次扭蛋機。<br></p>
                
                
                
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-bind:class="[cur_page=='news'?'':'hide',now_showing_news?'unfold':'']" class="page_news">
    <div v-if="index_news" class="row row_yellow scroll_area row_p_news">
      <div class="max_width">
        <div class="col_left">
          <h2 class="page_title"> <span>扭蛋巡迴地圖＆最新消息！</span><span><img src="http://45.118.133.210/img/graphic-21.svg" class="page_title_right_pic"/></span>
            <hr/>
          </h2>
          <div class="page_content">落實聯合勸募服務台灣的理念，<br>第22屆花旗聯合勸募活動下鄉啦！<br>我們將走入夜市，走入手手市集，歡迎大小朋友來現場響應愛心！
            <div class="btns">
              <div v-on:click="sw_page('support')" class="btn">立即響應</div>
            </div>
          </div>
        </div>
        <div class="col_right">
          <div v-for="(id,news) in index_news" v-on:click="show_news(id)" class="newsitem">
            <div><img src="http://event.unitedway.org.tw/citi2015/images/witness/img_1.png" class="newsimg"/></div>
            <div>
              <h3 class="newstime">{{news.time}}</h3>
              <h2 class="newstitle">{{news.title}}</h2>
              <h5 class="news_engtime">{{news.eng_time}}</h5>
              <p class="news_content">{{news.content}}</p>
            </div>
          </div>
        </div>
        <div class="col_newsdetail">
          <div v-on:click="show_news(news_id)" class="back_news_btn">◀ 回到消息清單</div>
          <div v-if="index_news.length&gt;0" class="newsarea">
            <h2>{{index_news[news_id].title}} <span class="small">
                <h4>{{index_news[news_id].time}} {{index_news[news_id].eng_time}}</h4></span></h2>
            <hr/>
            <h4>{{index_news[news_id].content}}</h4>
            <p>{{index_news[news_id].detail}}</p>
            <div>{{{index_news[news_id].blog}}}      </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-if="footer_com" class="row row_footer">
    <div v-bind:class="[cur_page=='index'?'':'hide']" class="row_companys">
      <div class="max_width">
        <div class="col_left">
          <div>
            <h4>協辦單位</h4><img v-for="com in footer_com.cor" v-bind:src="com.url" title="{{com.name}}" alt="{{com.name}}"/>
          </div>
          <div>
            <h4>贊助單位</h4><img v-for="com in footer_com.sup" v-bind:src="com.url" title="{{com.name}}" alt="{{com.name}}"/>
          </div>
        </div>
        <div class="col_right">
          <h4>通路贊助</h4>
          <div class="flex_row"><img v-for="com in footer_com.selsup" v-bind:src="com.url" title="{{com.name}}" alt="{{com.name}}"/></div>
        </div>
      </div>
    </div>
    <div class="row_last flex_row">
      <div class="max_width">
        <div class="logos"><img src="http://45.118.133.210/img/company.PNG"/><img src="http://45.118.133.210/img/companylogo/banklogo.png"/></div>
        <div class="info">
          <h4> <b>中華社會福利聯合勸募協會    </b>&nbsp;&nbsp;&nbsp;捐款專線：(02)2378-2256分機9</h4>
          <h4>10667台北市大安區復興南路二段363號4樓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;勸募核准字號：衛部救字號第1041363523</h4>
        </div>
      </div>
    </div>
  </div>
</body>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js'></script>
<script src='https://d3js.org/d3.v4.min.js'></script>

        <script src="js/index.js"></script>

    
    
  </body>
</html>
